<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ingresar_usuario.css">
    <title>App Admin - Registrar</title>
</head>

<body>

    <header></header>

    <main>

        <section>
            <div class="container-form">

                <form action=" ">
                    <div class="entrada">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>

                    <div class="entrada">
                        <label for="apellido">Apellido:</label>
                        <input type="text" name="apellido" id="apellido">
                    </div>

                    <div class="entrada">
                        <label for="nombre_usuario">Nombre de usuario:</label>
                        <input type="text" name="nombre_usuario" id="nombre_usuario">
                    </div>

                    <div class="entrada">
                        <label for="correo_electronico">Correo electrónico:</label>
                        <input type="email" name="correo_electronico" id="correo_electronico">
                    </div>

                    <div class="entrada">
                        <label for="contraseña">Contraseña:</label>
                        <input type="password" name="contraseña" id="contraseña">
                    </div>

                    <div class="entrada">
                        <label for="sexo">Sexo:</label>
                        <input type="text" name="sexo" id="sexo">
                    </div>

                    <div class="entrada">
                        <label for="pais">País:</label>
                        <input type="text" name="pais" id="pais">
                    </div>

                    <div class="entrada">
                        <label for="imagen">⬆ Imagen de usuario</label>
                        <input type="text" name="imagen" id="imagen" value="https://fastly.picsum.photos/id/802/200/200.jpg?hmac=alfo3M8Ps4XWmFJGIwuzLUqOrwxqkE5_f65vCtk6_Iw">
                    </div>

                    <div class="entrada">
                        <button class="modificar" type="button" onclick="guardar()">GUARDAR</button>
                    </div>

                </form>

            </div>
        </section>

    </main>

    <footer></footer>

    <script src="../static/js/ingresar_usuario.js"></script>
    <script src="../static/js/header_ingresar.js"></script>
</body>

</html>